*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    width: 100%;
    height: 100%;
}

/* .makeitvoilet{
    color: violet;
    font-family: "gilroy";
}

.image{
    width: 100%;
    height: 100vh;
    object-fit: cover;
} */

img{
    width: 200px;
   
}